<html>
    <head>

    </head>
    <body>
        
        <h2> Bank Note Analysis Report</h2>
        <form action="/predict",method = 'post'>
        
            <input type="number" name = "VARIANCE" placeholder="variance"  step='0.00001'  required="required">
            <input type="number" name = "SKEWNESS"  placeholder="skewness" step='0.00001'  required="required">
            <input type="number" name = "CURTOSIS"  placeholder="curtosis" step='0.00001'  required="required">
            <input type="number" name = "ENTROPY"  placeholder="entropy"  step='0.00001'  required="required">
        
        
            <button type='predict'>PREDICT</button>
        
        </form>


    </body>
</html>